<?xml version="1.0" encoding="utf-8" ?>
<!--
  NOTE: GSARKS will install this file for SharePoint 2013 only. This file will
  ensure the Microsoft .NET Framework version used by GSARKS installer is 4.0
  (required for Microsoft.SharePoint.dll in SharePoint 2013 environment).
-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0.30319"/>
  </startup>
</configuration>